<div id="contenedor_redes">
  <div class="redes"><a href="https://es-la.facebook.com/vikingosbarber"><i class="fab fa-facebook" style="font-size:24px;color:white"></i></a></div>
  <div class="redes"><a href="https://www.instagram.com/viking.barber.shop/?hl=es"><i class="fab fa-instagram" style="font-size:24px;color:white"></i></a></div>
  <div class="redes"><a href="https://twitter.com/barberviking?lang=es"><i class="fab fa-twitter" style="font-size:24px;color:white"></i></a></div>
  <div class="redes"><a href="https://www.youtube.com/channel/UCFzVSyaVnj1PTf3PD1wiWAA"><i class="fab fa-youtube" style="font-size:24px;color:white"></i></a></div>
  <div class="redes"><a href="https://wa.me/5493412848850?text=Hola,%20necesito%20hacer%20una%20consulta%20Vikings%20Barber%20Shop"><i class="fab fa-whatsapp" style="font-size:24px;color:white"></i></a></div>
  <a id="inicia" href="#">Iniciar Sesion</a>
</div>
