<div class="grancontenedor">
  <div class="tab">
      <button class="tablinks" onclick="abrirTabla(event, 'Combos')">Combos</button>
      <button class="tablinks" onclick="abrirTabla(event, 'Cabello')">Cabello</button>
      <button class="tablinks" onclick="abrirTabla(event, 'Barba')">Barba</button>
  </div>

  <div id="Combos" class="tabcontent">
      <h3>Combos</h3>
      <p>Combo Java (Perfilado de barba + Corte clasico)<span class="puntitos"> .......................................................................................................................</span><span class="precio">$3500</span></p>
      <p>Combo Haskell (Corte clasico + Color)<span class="puntitos"> ...................................................................................................................................</span><span class="precio">$3450</span></p>
      <p>Combo Assembler (Perfilado de barba + Corte Clasico + Color)<span class="puntitos"> ...................................................................................................</span><span class="precio">$3800</span></p>
      <p>Combo Fortran (Corte clasico + Iluminacion)<span class="puntitos"> ...........................................................................................................................</span><span class="precio">$3600</span></p>
      <p>Combo Cobol (Perfilado de barba + Corte clasico + Color + Masaje capilar)<span class="puntitos"> ...................................................................................</span><span class="precio">$4500</span></p>
      <p>Combo Vikings (Perfilado de barba + Corte clasico + Color + Bigote a maquina + Aseo de barba)<span class="puntitos"> .......................................................</span><span class="precio">$5000</span></p>
  </div>

  <div id="Cabello" class="tabcontent">
      <h3>Cabello</h3>
      <p>Corte clasico<span class="puntitos"> ......................................................................................................................................................................</span><span class="precio">$1500</span></p>
      <p>Corte tijeras<span class="puntitos"> .......................................................................................................................................................................</span><span class="precio">$1650</span></p>
      <p>Corte maquina<span class="puntitos"> ...................................................................................................................................................................</span><span class="precio">$1800</span></p>
      <p>Corte navaja<span class="puntitos"> ......................................................................................................................................................................</span><span class="precio">$2000</span></p>
      <p>Corte niños y jubilados<span class="puntitos"> ........................................................................................................................................................</span><span class="precio">$1000</span></p>
      <p>Color<span class="puntitos"> ................................................................................................................................................................................</span><span class="precio">$2000</span></p>
  </div>

  <div id="Barba" class="tabcontent">
      <h3>Barba</h3>
      <p>Perfilado de barba<span class="puntitos"> ................................................................................................................................................................</span><span class="precio">$1500</span></p>
      <p>Aseo de barba<span class="puntitos"> .....................................................................................................................................................................</span><span class="precio">$1950</span></p>
      <p>Bigote a maquina<span class="puntitos"> .................................................................................................................................................................</span><span class="precio">$1800</span></p>
      <p>Bigote con navaja<span class="puntitos"> ................................................................................................................................................................</span><span class="precio">$1600</span></p>
      <p>Masaje de barba<span class="puntitos"> ...................................................................................................................................................................</span><span class="precio">$2500</span></p>
      <p>Arreglo de barba con navaja<span class="puntitos"> ...................................................................................................................................................</span><span class="precio">$2000</span></p>
  </div>
</div>
