.grancontenedor{
  margin-top: 20px;
  background-color: black;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: #f1f1f1;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 25px;
  font-family: 'Aclonica', sans-serif;
  margin-right: 11%;
  margin-left: 11%;
}

.tab button:hover {
  background: linear-gradient(to right, #0575e6, #021b79);
}

.tab button.active {
  background: linear-gradient(to right, #00c6ff, #0072ff);
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  color: silver;
}

.precio{
  float: right;
  padding-right: 20%;
}

.puntitos{
  color: yellow;
  font-size: larger;
}

p{
  padding-left: 10%;
}

h3{
  padding-left: 10%;
  font-size: x-large;
}

/*
<script>
      function abrirTabla(evt, servNombres) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(servNombres).style.display = "block";
      evt.currentTarget.className += " active";
      }
  </script>
*/
